{%extends 'base.html'%}

{%block body%}
<h1>detail page of event: {% for h in data1%}{{h}}{% endfor %}</h1>
<h2>net votes: {{vote[1]}} total votes:{{vote[2]}}</h2>
<h2>this event starts on {% for h in data4%}{{h.strftime('%Y-%m-%d')}}{% endfor %}
    {% for h in data5%}{{h.strftime('%H:%M:%S')}}{% endfor %}</h2>
<h2>this event ends on {% for h in data6%}{{h.strftime('%Y-%m-%d')}}{% endfor %}
    {% for h in data7%}{{h.strftime('%H:%M:%S')}}{% endfor %}</h2>
<table>
    <tr>
        <th>hosted by</th>
        <th>host type</th>
        <th>description</th>
        <th>capacity</th>
    </tr>
    <tr>
        <td>
            {% for h in data3%}
            {{h}}
            {% endfor %}
        </td>
        <td>{% for h in data9%}{{h}}{% endfor %}</td>
        <td>{% for h in data2%}{{h}}{% endfor %}</td>
        <td>{{capacity[2]}}/{{capacity[1]}}</td>
    </tr>
</table>
<h4>location of this event:</h4>
<table>
    <tr>
        <th>street number</th>
        <th>street</th>
        <th>city</th>
        <th>state</th>
        <th>ZIP</th>
    </tr>
    {% for l in loc %}
    <tr>
        <td>{{l[0]}}</td>
        <td>{{l[1]}}</td>
        <td>{{l[2]}}</td>
        <td>{{l[3]}}</td>
        <td>{{l[4]}}</td>
    </tr>
    {% endfor %}
</table>
<h2>comments of this event:</h2>
{% if com|length < 1 %}
<h4>This post has 0 comment</h4>
{% else %}
<table>
    <tr>
        <th>commented by:</th>
        <th>content</th>
    </tr>
{% for n in com%}
    <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
    </tr>
{%endfor%}
</table>
{%endif%}

<h2>add your comment right now!</h2>
<form method="POST" action="/add_event_comment/{{vote[0]}}">
    <p>your sid(student id) is: </p> <input type="text" name="sid"> 
    <p> content of your comment is: </p> <input type="text" name="comment"> <input type="submit" value="Add"> 
    
    <br>  
</form>

<h2>vote for this event:</h2> 
<form action="/vote_event/{{vote[0]}}" method='POST'>
    <p>your sid(student id) is: </p > <input type="text" name="sid">
    <label for='cond'>Vote this event:</label>
        <select name="cond" id ='cond'>
            <option value="Up">Up</option>
            <option value="Down">Down</option>
        </select>
        <input type="submit" value="Vote">
</form>
<br>
<h2>Join or leave this event:</h2> 
<form action="/joinevent/{{vote[0]}}" method='POST'>
    <p>your sid(student id) is: </p > <input type="text" name="sid">
    <label for='cond'>Action:</label>
        <select name="cond" id ='cond'>
            <option value="Join">Join</option>
            <option value="Leave">Leave</option>
        </select>
        <input type="submit" value="Vote">
</form>

<h2>Are you a co-host of this event?</h2> 
<form action="/co_host/{{vote[0]}}" method='POST'>
    <p>your sid(student id) is: </p > <input type="text" name="sid"><input type="submit" value="Co-host">
</form>

<p><a href="/">Go to the home page</a></p>
<p><a href="login">Go to the login page</a></p>

<br>
{% endblock %}
