{%extends 'base.html'%}

{%block body%}
    <h1>this is our event page! you can check posts from other students right here!</h1>
    <form action="/sort_events" method='POST'>
      <label for='cond'>Sort by:</label>
          <select name="cond" id ='cond'>
              <option value="timeL">Latest</option>
              <option value="timeO">Oldest</option>
              <option value="popA">Popularity Ascending</option>
              <option value="popD">Popularity  Descending</option>
          </select>
          <input type="submit" value="Sort">
  </form>


    <table>
        <tr>
          <th>eid</th>
          <th>posted by</th>
          <th>content</th>
          <th>date</th>
          <th>time</th>
          <th>popularity</th>
        </tr>

        {% for n in data %}
        <tr>
            <td><a href="{{url_for('eventdetail',eid=n[0])}}">{{n[0]}}</a></td>
            <td>{{n[2]}}</td>
            <td>{{n[1]}}</td>
            <td>{{n[3]}}</td>
            <td>{{n[4]}}</td>
            <td>{{n[5]}}</td>
        </tr>
        {% endfor %}
    </table>

  

    <p><a href="/">Go to the home page</a></p>
    <p><a href="login">Go to the login page</a></p>


<br>

<h1>post your own events right now!</h1>
<br>
<div class='form'>
  <form method="POST" action="/add_event">
    <p> your student id (sid) is: </p> <input type="text" name="sid"> 
    <p> type of your event is: </p> <input type="text" name="type"> 
    <p>start date (YYYY-MM-DD): </p> <input type="text" name="start_date">
    <p>start time (HH:MM:SS): </p> <input type="text" name="start_time">
    <p>end date (YYYY-MM-DD): </p> <input type="text" name="end_date">
    <p>end time (HH:MM:SS): </p> <input type="text" name="end_time">
    <br>
    <p>now please input the address information about this event</p>
    <p>the s_number of address: </p> <input type="text" name="s_number">
    <p>the street name: </p> <input type="text" name="street">
    <p>city: </p> <input type="text" name="city">
    <p>state: </p> <input type="text" name="state">
    <p>zip code: </p> <input type="text" name="zip">
    
    <p>a short description: </p> <input type="text" name="description">
    
    <input type="submit" value="Add"> 
  </form>
</div>
<br>


{% endblock %}
